@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #fafafa;
    --foreground: #0f0f0f;
    --card: #fafafa;
    --card-foreground: #0f0f0f;
    --popover: #fafafa;
    --popover-foreground: #0f0f0f;
    --primary: #171717;
    --primary-foreground: #fafafa;
    --secondary: #f5f5f5;
    --secondary-foreground: #171717;
    --muted: #f5f5f5;
    --muted-foreground: #737373;
    --accent: #f5f5f5;
    --accent-foreground: #171717;
    --destructive: #999999;
    --destructive-foreground: #fafafa;
    --border: #e5e5e5;
    --input: #e5e5e5;
    --ring: #0f0f0f;
    --chart-1: #9b9b9b;
    --chart-2: #636363;
    --chart-3: #3d3d3d;
    --chart-4: #a8a8a8;
    --chart-5: #ababab;
    --radius: 0.5rem;
  }
  .dark {
    --background: #0f0f0f;
    --foreground: #f5f5f5;
    --card: #0f0f0f;
    --card-foreground: #f5f5f5;
    --popover: #0f0f0f;
    --popover-foreground: #f5f5f5;
    --primary: #f5f5f5;
    --primary-foreground: #171717;
    --secondary: #262626;
    --secondary-foreground: #f5f5f5;
    --muted: #262626;
    --muted-foreground: #a3a3a3;
    --accent: #262626;
    --accent-foreground: #f5f5f5;
    --destructive: #4e4e4e;
    --destructive-foreground: #f5f5f5;
    --border: #262626;
    --input: #262626;
    --ring: #d4d4d4;
    --chart-1: #808080;
    --chart-2: #727272;
    --chart-3: #8c8c8c;
    --chart-4: #999999;
    --chart-5: #8c8c8c;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply font-spaceGrotesk bg-background text-foreground;
  }
}
