@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #fafafa;
    --foreground: #0f0f0f;
    --card: #fafafa;
    --card-foreground: #0f0f0f;
    --popover: #fafafa;
    --popover-foreground: #0f0f0f;
    --primary: #171717;
    --primary-foreground: #fafafa;
    --secondary: #f5f5f5;
    --secondary-foreground: #171717;
    --muted: #f5f5f5;
    --muted-foreground: #737373;
    --accent: #f5f5f5;
    --accent-foreground: #171717;
    --destructive: #999999;
    --destructive-foreground: #fafafa;
    --border: #e5e5e5;
    --input: #e5e5e5;
    --ring: #0f0f0f;
    --chart-1: #9b9b9b;
    --chart-2: #636363;
    --chart-3: #3d3d3d;
    --chart-4: #a8a8a8;
    --chart-5: #ababab;
    --radius: 0.5rem;
  }
  .dark {
    --background: #0f0f0f;
    --foreground: #f5f5f5;
    --card: #0f0f0f;
    --card-foreground: #f5f5f5;
    --popover: #0f0f0f;
    --popover-foreground: #f5f5f5;
    --primary: #f5f5f5;
    --primary-foreground: #171717;
    --secondary: #262626;
    --secondary-foreground: #f5f5f5;
    --muted: #262626;
    --muted-foreground: #a3a3a3;
    --accent: #262626;
    --accent-foreground: #f5f5f5;
    --destructive: #4e4e4e;
    --destructive-foreground: #f5f5f5;
    --border: #262626;
    --input: #262626;
    --ring: #d4d4d4;
    --chart-1: #808080;
    --chart-2: #727272;
    --chart-3: #8c8c8c;
    --chart-4: #999999;
    --chart-5: #8c8c8c;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply font-inter paragraph-16 bg-background text-foreground;
  }

  /* hero/title */
  .heading-1 {
    font-size: clamp(3rem, 6vw, 3.75rem);
    line-height: 1;
    letter-spacing: -0.01em;
  }

  /* section header */
  .heading-2 {
    font-size: clamp(1.75rem, 3.5vw, 2rem);
    line-height: 1.2;
    letter-spacing: 0em;
  }

  /* subheader */
  .heading-3 {
    font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
    line-height: 1.3;
    letter-spacing: -0.005em;
  }

  /* menu/display */
  .paragraph-link {
    font-size: clamp(5rem, 12vw, 9rem);
    line-height: 0.95;
    letter-spacing: 0.015em;
  }

  @media (max-width: 639px) {
    .heading-1 {
      font-size: clamp(2rem, 5vw, 2.625rem);
    }

    .heading-2 {
      font-size: clamp(2rem, 4vw, 2.5rem);
    }

    .heading-3 {
      font-size: 1.75rem;
    }

    .p-link {
      font-size: clamp(3rem, 10vw, 6rem);
    }
  }

  /* paragraph */
  .paragraph-16 {
    @apply text-[1rem] leading-[1.5] tracking-[0em] sm:text-[1rem];
  }

  /* meta/helper */
  .paragraph-14 {
    @apply text-[0.75rem] leading-[1.4] tracking-[0em] sm:text-[0.875rem];
  }

  /* primary button */
  .paragraph-btn-16 {
    @apply text-[0.875rem] leading-[1.4] tracking-[0.02em] sm:text-[1rem];
  }

  /* secondary button */
  .paragraph-btn-14 {
    @apply text-[0.75rem] leading-[1.4] tracking-[0em] sm:text-[0.875rem];
  }

  /* quote/accent */
  .paragraph-accent {
    @apply text-[1.25rem] leading-[1.4] tracking-[0.05em] sm:text-[1.5rem];
  }
}
